nav a {
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
#clients img {
    height: 90px;
}
p.center {
    text-align: center;
}
#services .box {
    padding-bottom: 5em;
    width: 50%;
}

#contact-box form button {
    font-family: Poppins;
    color: white;
    font-size: 0.75rem;
    display: block;
    margin: auto;
    border: 0px;
    padding: 0.3em 0.4em;
    background-color: brown;
    border-radius: 1em;
    cursor: pointer;
}

#contact-box form button:hover{
    font-family: Poppins;
    color: white;
    font-size: 0.75rem;
    display: block;
    margin: auto;
    border: 0px;
    padding: 0.3em 0.4;
    background-color: rgb(56, 2, 2);
    border-radius: 1em;
}
footer div.center {
    text-align: center;
    font-size: 0.5em;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(16 13 13);
    padding: 1em;
}